@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    nav *,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-sans;
    }
    @apply font-serif;
    --color-text-main: 17 46 50;
    --color-bg-main: 210 217 219;
    --color-bg-muted: 175 183 185;
    --color-border-main: 34 53 54;
  }
  html.dark {
    --color-text-main: 193 202 203;
    --color-bg-main: 2 18 20;
    --color-bg-muted: 23 34 35;
    --color-border-main: 183 192 193;
  }

  html.amoled.dark {
    --color-text-main: 256 256 256;
    --color-bg-main: 0 0 0;
    --color-bg-muted: 55 55 55;
    --color-border-main: 236 236 236;
  }

  html.amoled {
    --color-text-main: 0 0 0;
    --color-bg-main: 256 256 256;
    --color-bg-muted: 200 200 200;
    --color-border-main: 0 0 0;
  }

  .prose img {
    @apply rounded-md;
  }

  .prose *:is(h1, h2, h3, h4, h5, h6):first-of-type {
    @apply mt-0 pt-0;
  }
}

@layer components {
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  button[id*="headlessui-tabs-tab-"][data-selected] {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: auto;
      bottom: 0;
      height: 100%;
      width: 2px;
      background: rgb(var(--color-text-main));
      @media (width < 768px) {
        height: 2px;
        width: 100%;
      }
    }
  }
  button[id*="headlessui-tabs-tab-"][data-selected]:focus-visible {
    &::before {
      z-index: 10;
      content: "";
      position: absolute;
      right: -4px;
      top: auto;
      bottom: 0;
      height: 100%;
      width: 3px;
      background: #3e8fb0;
      @media (width < 768px) {
        right: 0;
        bottom: -3px;
        height: 2px;
        width: 100%;
      }
    }
  }
}

@layer utilities {
  html:not(.dark) {
    .nav-edge {
      --tw-shadow-color: rgb(var(var(--color-bg-main) / 0.5));
      @apply shadow-md;
    }
  }

  html.dark {
    .nav-edge {
      border-bottom: 1px solid rgb(var(--color-bg-muted) / 0.5);
    }
  }

  @media (width < 640px) {
    body:has(#skip-to-main:focus-within) .loader {
      opacity: 0;
    }
  }

  .hero-image::after {
    content: "";
    @apply absolute inset-0 -z-10 animate-pulse rounded-t-md bg-muted/50;
  }

  .animate-fade-in-left {
    animation: fadeInFromLeft 0.5s ease-in-out forwards;
    animation-delay: var(--fade-in-delay);
  }

  @keyframes fadeInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
