---
import { ClientRouter } from "astro:transitions";
import BaseHead, { type Props as HeadProps } from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/navigation/Nav.astro";
import BackToTopButton from "../components/navigation/BackToTopButton.astro";
import SkipToMain from "../components/navigation/SkipToMain.astro";

export type Props = HeadProps & { showHeader?: boolean };

const { showHeader = true, ...head } = Astro.props;
---

<html lang="en" class="break-words antialiased">
  <head>
    <BaseHead {...head} />
    <script>
      if (localStorage.theme === "dark") {
        document.documentElement.classList.add("dark");
      }
    </script>
    <ClientRouter />
  </head>
  <body class="max-w-[100dvw] overflow-x-clip bg-main text-main">
    <SkipToMain />
    <div class="flex min-h-screen flex-col px-4 md:px-8">
      <Nav />
      <main id="main-content" tabindex="-1" class="mx-auto mt-8 w-full max-w-4xl grow pl-4 pr-8 sm:mt-48 sm:pl-0 sm:pr-0">
        <slot />
      </main>
      <Footer />
    </div>
    <BackToTopButton />
  </body>
</html>
