---
import type { HTMLAttributes } from "astro/types";
import { Button as HUIBtn } from "@headlessui/react";

type AnchorProps = HTMLAttributes<"a"> & { type?: never };
type ButtonProps = HTMLAttributes<"button"> & { href?: never };

type Props = ButtonProps | AnchorProps;

const { href, class: className, ...rest } = Astro.props;
const anchorClasses =
  "btn-custom grid items-center justify-center px-6 py-2 font-serif leading-tight font-extrabold text-main bg-main outline outline-1 outline-offset-[-0.15rem] outline-main rounded-xl transition-all hover:bg-muted/50 active:bg-main focus-visible:bg-muted/50 focus-visible:ring-4 focus-visible:ring-subtle/90 hover:outline-offset-0";
const buttonClasses =
  "btn-custom grid items-center justify-center px-6 py-2 font-serif leading-tight font-extrabold text-main bg-main outline outline-1 outline-offset-[-0.15rem] outline-main rounded-xl transition-all data-[hover]:bg-muted/50 data-[active]:bg-main data-[focus]:bg-muted/50 data-[focus]:ring-4 data-[focus]:ring-subtle/90 data-[hover]:outline-offset-0";
---

{
  href ? (
    <a href={href} class:list={[anchorClasses, className]} {...rest}>
      <slot />
    </a>
  ) : (
    <HUIBtn client:only="react" className={[buttonClasses, className]} {...rest}>
      <slot />
    </HUIBtn>
  )
}
