<button
  onclick="history.back()"
  class="btn-custom text-main bg-main outline-main hover:bg-muted/50 active:bg-main focus:bg-muted/50 focus:ring-subtle/90 my-8 grid items-center justify-center rounded-xl px-6 py-2 font-serif font-extrabold leading-tight outline outline-1 outline-offset-[-0.15rem] transition-all hover:outline-offset-0 focus:ring-4"
>
  Go Back
</button>
