---
import { marked } from "marked";
import Button from "./Button.astro";
import siteConfig from "../data/site-config";

const hero = siteConfig.hero;
---

{
  (hero?.title || hero?.text || (hero?.actions && hero.actions.length > 0)) && (
    <section class="mb-4 flex w-full flex-col gap-8 sm:mb-8">
      {hero.title && <h1 class="font-serif text-5xl font-medium leading-tight sm:text-5xl sm:leading-tight">{hero.title}</h1>}
      {hero.text && <div class="prose prose-txtcolors max-w-none  sm:prose-lg" set:html={marked.parse(hero.text)} />}
      {hero.actions && hero.actions.length > 0 && (
        <div class="flex flex-wrap gap-4">
          {hero.actions.map((action) => (
            <Button href={action.href}>{action.text}</Button>
          ))}
        </div>
      )}
    </section>
  )
}
