---
import type { NewsItem } from "../utils/directus";
import ArrowRight from "../icons/ArrowRight.astro";
import ArrowLeft from "../icons/ArrowLeft.astro";

type Props = { direction: string; newsItem: NewsItem; class?: string; headingLevel?: "h2" | "h3" | "h4" | "h5" | "h6" };
const { direction, newsItem, class: className, headingLevel = "h2" } = Astro.props;
const { title, excerpt, slug } = newsItem;
const TitleTag = headingLevel;
---

<a class:list={["flex justify-between items-start gap-8 group", className]} href={`/news/${slug}`}>
  <div class="grow">
    <TitleTag
      class="font-serif text-xl font-medium leading-tight group-hover:underline group-hover:decoration-dashed group-hover:decoration-1 group-hover:underline-offset-4 sm:text-2xl"
    >
      {title}
    </TitleTag>
    {excerpt && <div class="mt-1 text-sm leading-normal">{excerpt}</div>}
  </div>
  {
    direction === "next" ? (
      <div class="hidden font-serif italic opacity-0 transition group-hover:opacity-100 sm:inline-flex sm:shrink-0 sm:items-center sm:gap-1">
        View <ArrowRight class="h-4 w-4 fill-current" />
      </div>
    ) : (
      <div class="hidden font-serif italic opacity-0 transition group-hover:opacity-100 sm:inline-flex sm:shrink-0 sm:items-center sm:gap-1">
        <ArrowLeft class="h-4 w-4 fill-current" /> View
      </div>
    )
  }
</a>
