---
import Pagination from "../../components/Pagination.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import NewsPreview from "../../components/NewsPreview.astro";
import Image from "astro/components/Image.astro";
import { sortDirectusByDate as sorter } from "../../utils/directus-utils";
import type { NewsItem } from "../../utils/directus";
import { fetchNews } from "../../utils/directus-utils";

const news = await fetchNews().then((n) => n.sort(sorter));
//
//TODO: to put into site config
const newsPerPage = 4;
const newsCount = news.length;
const currentUrl = new URL(Astro.request.url);
const lastPage = Math.ceil(newsCount / newsPerPage);
const currentPage = parseInt(currentUrl.searchParams.get("page") || "1");
const startIndex = (currentPage - 1) * newsPerPage;
const endIndex = Math.min(startIndex + newsPerPage, newsCount);
const currentBatch = news.slice(startIndex, endIndex);

const prevPage = currentPage > 1 ? currentPage - 1 : null;
const nextPage = currentPage < lastPage ? currentPage + 1 : null;

const page = { url: { next: nextPage, prev: prevPage }, currentPage, lastPage };
---

<BaseLayout title="LCDT News" description="Read the latest news from us" image={{ src: null, alt: "some-temp-alt" }} showHeader={false}>
  <h1 class="mb-12 font-serif text-2xl leading-tight sm:mb-16 sm:text-4xl">Recent news from us</h1>
  {currentBatch.map((n: NewsItem) => <NewsPreview direction="next" newsItem={n} class="mb-10 sm:mb-12" headingLevel="h3" />)}
  {newsCount > newsPerPage && <Pagination page={page} class="my-16 sm:my-24" />}
</BaseLayout>
