---
import Pagination from "../../components/Pagination.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import NewsPreview from "../../components/NewsPreview.astro";
import { sortDirectusByDate as sorter } from "../../utils/directus-utils";
import type { NewsItem } from "../../utils/directus";
import { fetchNews, setPagination, getConfig } from "../../utils/directus-utils";

const config = await getConfig();
const newsPerPage = config.newsPerPage;

const news: NewsItem[] = await fetchNews().then((n) => n.sort(sorter));
const currentUrl = new URL(Astro.request.url);

const paginationParams = setPagination(news, newsPerPage, currentUrl);
const { slice, current, last, prev, next } = paginationParams;

const page = { url: { next: next, prev: prev }, current, last };
---

<BaseLayout title="LCDT News" description="Read the latest news from us" image={{ src: "placeholder", alt: "some-temp-alt" }} showHeader={false}>
  <h1 class="mb-12 font-serif text-2xl leading-tight sm:mb-16 sm:text-4xl">Recent news from us</h1>
  {slice.map((n: any, index: number) => <NewsPreview direction="next" style=`--fade-in-delay: ${(index + 1) * 100}ms` newsItem={n} class="mb-10 sm:mb-16" headingLevel="h3" />)}
  {news.length > newsPerPage && <Pagination page={page} class=" delamy-16 sm:my-24" />}
</BaseLayout>
