---
// src: https://toggles.dev/expand
---

<button
  id="accessibility-settings-toggle"
  type="button"
  class="sm: z-40 grid aspect-square w-fit items-center justify-end transition duration-150 ease-in-out hover:text-teal-900 focus-visible:text-teal-900 focus-visible:outline-none focus-visible:ring-0 active:text-teal-900 dark:hover:text-pink-900 dark:focus-visible:text-pink-900 dark:active:text-pink-900 sm:justify-center sm:pr-2"
  aria-label="Open accessibility options"
>
  <svg xmlns="http://www.w3.org/2000/svg" width="1.25rem" height="1.25rem" viewBox="0 0 24 24">
    <path
      fill="currentColor"
      fill-rule="evenodd"
      d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10m0-13a2 2 0 1 0 0-4a2 2 0 0 0 0 4m-5.707.31a.75.75 0 0 0-.586 1.38l.002.001l.002.001l.01.004l.032.014a15 15 0 0 0 .572.225c.38.145.914.338 1.527.53c.988.312 2.236.64 3.398.748v1.24c0 .43-.124.853-.357 1.216l-2.524 3.925a.75.75 0 0 0 1.262.812l2.37-3.686l2.368 3.686a.75.75 0 0 0 1.262-.812l-2.524-3.925a2.25 2.25 0 0 1-.357-1.217v-1.239c1.162-.108 2.41-.436 3.399-.748a28 28 0 0 0 2.098-.755l.033-.014l.01-.004l.002-.001a.75.75 0 0 0-.585-1.381l-.007.003l-.027.011l-.11.045q-.148.061-.42.164c-.36.137-.865.32-1.444.502c-1.178.37-2.588.715-3.699.715s-2.52-.345-3.698-.715a27 27 0 0 1-1.974-.711L6.3 9.313z"
      clip-rule="evenodd"></path>
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" width="1.25rem" height="1.25rem" viewBox="0 0 24 24"
    ><path
      fill="currentColor"
      d="M12 2c5.53 0 10 4.47 10 10s-4.47 10-10 10S2 17.53 2 12S6.47 2 12 2m3.59 5L12 10.59L8.41 7L7 8.41L10.59 12L7 15.59L8.41 17L12 13.41L15.59 17L17 15.59L13.41 12L17 8.41z"
    ></path></svg
  >
</button>

<style>
  #accessibility-settings-toggle {
    svg:first-of-type {
      display: block;
    }
    svg:last-of-type {
      display: none;
    }
  }
  #accessibility-settings-toggle.menu-visible {
    svg:first-of-type {
      display: none;
    }
    svg:last-of-type {
      display: block;
    }
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const toggleButton = document.querySelector("#accessibility-settings-toggle");

    toggleButton?.addEventListener("click", () => {
      const accMenu = document.querySelector("#accessibility-menu");
      accMenu?.classList.toggle("menu-visible");
      toggleButton?.classList.toggle("menu-visible");
      toggleButton?.classList.toggle("text-bg-like");
    });
  });
</script>
