---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const hrefString = typeof href === "string" ? href : href instanceof URL ? href.toString() : "";

const isActive = hrefString === pathname || pathname.startsWith(hrefString + "/") || pathname === hrefString.replace(/\/$/, "");
---

<a class:list={[className, { "underline underline-offset-2 decoration-1": isActive }]} href={href} {...props}>
  <slot />
</a>
